
body{
    background-color: rgb(31, 180, 218);
    height: 100%;
    width: 100%;
    display: block;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px ;
}
.buttons{
    margin-top: 20px;
}
#list{
    margin: 10px;
    border: 1px solid #333;
    background: hsla(76, 87%, 33%, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  
}